body{
    background-color: #14e78c;
    color: black;
    
}

.training_header .start-training{
    background-color: #fff;
}
/* .training h1{
    color: silver;
} */
.training {
   
    /* color: hsl(0, 62%, 4%);  */
    background-color: rgba(153, 238, 237, 0.932); 
    
  }
  /* .training_header button{
    width: 100px;
  } */
 .training-home  h1{
    color: aliceblue;
   }

   .training-home .button-group button {
    background-color: #fff; /* Button background color */
    color: #333; /* Button text color */
    border: 1px solid #ddd; /* Button border */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Set button font size */
    margin: 5px; /* Add spacing between buttons */
  }
  .training {
   
    
   
    background-color: #f0f8ff; /* Light blue background */
    font-family: sans-serif;
  }
  
  .training h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #333; /* Dark text */
  }
  
  .training_header {
    display: flex;
    justify-content: center;
  }
  
  .training_header a {
    text-decoration: none;
    color: #fff;
    background-color: golden; /* Blue button */
    padding: 1rem 2rem;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .training_header a:hover {
    background-color: #0069d9; /* Darker blue on hover */
  }
  .training-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #92eac4; /* Light blue background */
    font-family:'Times New Roman', Times, serif;
  }
  
  .training-home h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #333; /* Dark text */
  }
  
  /* .button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  
  .button-item {
    text-align: center;
    margin: 10px;
  }
  
  .button-item p {
    margin-bottom: 5px;
  }
  
  .button-item button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  